html {
    user-select: none !important;
}

/*shared*/

.alert {
    margin-bottom: 0 !important;
}

body {
    padding-top: 80px !important;
}

header {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

a, img {
    -webkit-user-drag: none;
}

.fa, .fas, .far {
    line-height: inherit !important;
}

.col-centered {
    margin: 0 auto;
    float: none;
}

.modal_back{
    z-index: 50;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000000AA;
    left: 0;
    top: 0;
}

/*navbar*/

.navbar {
    padding: 0.5em !important;
    /*background-color: #9fcdff !important;*/
    /*line-height: 1em;*/
}

.navbar-brand {
    padding: 0 !important;
}

/*navbar-link*/

.top-nav-link {
    display: flex;
    align-items: baseline;
    line-height: inherit;
}

.top-profile_image {
    background: gray;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0 solid transparent;
    outline: none;
    display: inline-block;
}

/*profile*/

.profile_section, .posts_section {
    display: flex;
    padding: 10px;
}

.follower_image{
    border: 4px solid #e4606d;
    border-radius: 50%;
    background-color: #005cbf;
    /*transform: rotate(45deg);*/
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 10px;
}

.profile_image {
    border: 4px solid #e4606d;
    border-radius: 50%;
    background-color: #005cbf;
    padding: 5px;
    /*transform: rotate(45deg);*/
    width: fit-content;
    height: fit-content;
}

.profile_image img {
    align-content: center;
    /*border: 4px solid #e4606d;*/
    /*border: 2px solid gray;*/
    border-radius: 50%;
    /*transform: rotate(-45deg);*/
}

.profile_meta_section {
    list-style-type: none;
    display: flex;
    padding: 0;
    /*margin-top: 10px;*/
    margin: 0 !important;
}

.profile_meta {
    margin-right: 10px;
}

.meta_counter {
    font-weight: bold;
}

.profile_about * {
    font-size: 16px;
    margin: 0;
}

.profile_name {
    font-size: 20px;
}

.profile_controls {
    font-size: 20px;
    margin-left: 5px;
}

/*profile gift*/

.gift_gallery_modal{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: 200px auto;
    background: white;
    padding: 20px;
    border: 2px solid gray;
    border-radius: 10px;
}

.gift_gallery {
    display: flex;
    width: 100%;
    justify-content: center;
}

.gift_gallery .profile_gift {
    margin-right: 10px;
}

.profile_gift_section {
    position: relative;
    display: flex;
    align-items: center;
}

.gift_carousel{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    /* overflow-x: scroll; */
    overflow: hidden;
    margin-right: 60px;
    width: 100%;
}

.profile_gift {
    /* border: 1px solid gray !important; */
    border-radius: 10px;
    overflow: hidden;
    flex: 0 0 auto; 
    margin-left: 20px;
    width: 150px;
    height: 150px;
}

.profile_gift img {
    width: 150px;
    height: 150px;
    border: none !important;
    outline: none !important;
    margin: 0 !important;
}

.profile_gift_controls {
    height: 40px;
    text-align: center;
    line-height: 40px;
    right: 10px;
    position: absolute;
}

/*profile rank*/

.profile_rank {
    position: relative;
    height: 30px;
    width: 400px;
    border: 2px solid #000000AA;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: content-box;
}

.profile_rank * {
    height: 30px !important;
    line-height: 30px;
}

.profile_rank .rank_title {
    position: absolute;
    left: 10px;
    z-index: 1;
    font-weight: bold;
    font-family: Consolas, serif;
}

.profile_rank .rank_score {
    position: absolute;
    width: 50%;
    left: 25%;
    text-align: center;
    font-weight: bold;
}

.profile_rank .rank_bar {
    position: absolute;
    background: #e4606d;
    min-width: 2%;
    width: 50%;
    max-width: 100%;
    z-index: -1;
    outline: gold 5px double;
}

.profile_rank .rank_bar_back {
    position: absolute;
    background: #00000033;
    width: 100%;
    z-index: -2;
}

.profile_rank .rank_icons {
    position: absolute;
    right: 10px;
    z-index: 0;
}

/*preferences*/

.preferences_section {
    /*margin-top: 4em !important;*/
    margin-right: 6em !important;
    margin-left: 6em !important;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 20px;
}

/* float controls */

.float_control {
    position: fixed;
    transition: color ease-in .2s;
}

.float_control:hover {
    position: fixed;
    color: #005cbfaa !important;
    text-shadow: 0 0 20px #005cbf66;
}

.float_control.feed_controls {
    font-size: 40px;
    display: none;
}

/* Commont */
.btn_circle{
    color: #005cbf !important;
    font-size: 30px;
    transition: color ease-in .2s;
    transition: text-shadow linear .2s;
    background: white;
    border: 1px #005cbf solid;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.btn_circle:hover{
    color: white !important;
    background: #005cbfAA;
    font-size: 30px;
    box-shadow: 0 0 30px #005cbf66, 0 0 30px #005cbf66;
}

.btn_circle:active{
    outline: none;
}

/*feed*/

.feed {
    /*background: red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed a {
    text-decoration: none;
    color: black;
}

.feed_post {
    width: 600px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
}

.feed_post .post_image img {
    max-width: 90%;
    max-height: 550px;
}

/*post*/

.post_create {
    border: 1px solid gray;
    border-radius: 4px;
    padding: 20px;
    margin-right: 12em !important;
    margin-left: 12em !important;
}

.post_details {
    border: 1px solid gray;
    border-radius: 4px;
    display: flex;
    height: 600px;
    width: 1200px;

    margin: 200px auto;

    /* floating */
    /* position: absolute; */
    z-index: 100;
    background: white;
}

.post_details_post {
    position: relative;
    flex-grow: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.post_details_comments {
    border-left: 1px solid gray;
    box-sizing: border-box !important;
    /* flex-grow: 2; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 400px !important;
}

.post_controls {
    position: absolute;
    right: 0;
    z-index: 10;
}

.post_return {
    position: absolute;
    left: 20px;
    z-index: 10;
}

.post_image {
    display: flex;
    justify-content: center;
    position: relative;
}

.post_image img {
    max-height: 400px;
    max-width: 600px;
    height: auto;
    border: 1px solid gray;
    border-radius: 4px;
}

.post_details_meta_section {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    /*background-color: lightgray;*/
}

.post_details_meta_section>span {
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    /* width: 700px !important; */
    display: inline-block;
    padding: 10px;
    flex-grow: 1;
}

.post_title{
    width: 500px;
    text-align: center;
    border: none;
    border-bottom: 1px solid gray;
}

.post_description{
    border: 1px solid gray;
    border-radius: 5px;
    /* width: 700px !important; */
    width: 100%;
    display: inline-block;
    padding: 10px;
    flex-grow: 1;
    resize: none;
    text-align: center;
}

.post_details_meta_section>p {
    margin-bottom: 1em;
}

.post_meta_section {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
    align-self: flex-start;
}

.post_meta {
    margin-right: 10px;
    font-family: Consolas, serif;
}

/*comments*/

.post_comments_section {
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.post_comment {
    display: block;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 3px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    /* flex-basis: 100%; */
    flex-shrink: 0;
    position: relative;
}

.post_comment:hover {
    text-decoration: none;
}

.post_comment .comment_username {
    font-family: Consolas, serif;
    font-weight: bold;
}

.post_comment .comment_datetime {
    font-family: Consolas, serif;
}

.post_comment .comment_value {
    word-break: break-all;
    word-break: break-word;
    /*overflow-wrap: ;*/
}
.post_comment .comment_controls{
    /* display: inline; */
    float: right;
}

/*form*/

form button {
    margin-top: .5em !important;
}

li form button, nav form button {
    margin-top: 0 !important;
}

/*chat*/

.chat_section {
    border: 1px solid gray;
    border-radius: 4px;
    margin-right: 8em !important;
    margin-left: 8em !important;
    display: flex;
    flex-direction: column;
    height: 550px;
}

.chat_rooms {
    padding: 10px !important;
}

.chat_input {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.chat_input button {
    background: none;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 0 !important;
    margin-left: 10px;
    width: 50px;
    height: 35px;
}

.chat_input button:hover {
    background: #005cbf;
    color: white
}

.chat_input button:focus {
    outline: none;
}

.chat_input textarea {
    height: 100%;
    outline: none;
    resize: none;
    box-shadow: none;
    border: 1px solid gray;
    border-radius: 5px;
    flex-grow: 1;
    padding: 10px;
    box-sizing: border-box;
}

.chat_wall {
    border-left: 1px solid gray;
    display: flex;
    flex-direction: column;
    height: 550px;
}

.messages {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    flex-grow: 1;
    padding: 10px;
    flex-basis: auto;
    overflow-y: scroll;
    margin-top: 10px;
}

.message {
    border: 1px solid gray;
    padding: 10px;
    width: fit-content;
    max-width: 50%;
    margin: 5px;
    word-break: break-all;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.message.active {
    background: #1b6ec2;
    border: 1px solid #1861ac;
    color: white;
    align-self: flex-end;
    text-align: right;
}

.message.active .message_username{
    font-size: 14px;
    border-bottom: 1px double white;
}

.message .message_username{
    font-size: 14px;
    border-bottom: 1px double #005cbf;
}

.message_time{
    font-size: 12px;
}

.chat_create_form {
    background: red;
    display: flex;
    padding: 10px;
    align-items: center;
}

.chat_create_form textarea {
    flex-grow: 80;
    height: 4em;
    border: 1px solid gray;
    border-radius: 4px;
    outline: none;
    resize: none;
}

.chat_create_form button {
    flex-grow: 20;
    height: 3em;
    line-height: 3em;
    margin: 0 10px 0 10px !important;
    border: 1px solid gray;
    border-radius: 4px;
    outline: none;
}

/*image*/

.miniature-cover {
    width: 100%;
    height: 100%;
    border: #ff5c6c 4px dashed;
    position: absolute;
}

.miniature-control {
    position: absolute;
    width: 10px;
    height: 10px;
    /*border-radius: 10px;*/
    background: #e0a800;
}

.miniature-control:hover {
    background: #fdc400;
}