<template>
    <require from="components/loadingOverlay"></require>
    <require from="components/imageComponent"></require>
    <require from="components/alert"></require>
    <div if.bind="imageModel">
        <h4 class>Avatar</h4>

        <alert if.bind="alert" alert-data.bind="alert"></alert>
        <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
            <ul>
                <li repeat.for="error of errors">
                    ${error}
                </li>
            </ul>
        </div>

        <div class="row d-flex flex-column align-items-center text-center mt-2">
            <div class="card" style="width: 20rem; user-select: none; position: relative;" id="image-miniature">
                <image-component id.bind="profile.profileAvatarId" html-height="unset" html-width="unset" original="true"
                    html-id="render_image" html-class="card-img"></image-component>
            </div>

            <div class="col-md-8 mt-2">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" lang="ru-RU" id="ImageFile" name="ImageFile"
                        input.delegate="loadFile()" />
                    <label class="custom-file-label" style="overflow: hidden">${fileName}</label>
                </div>

                <input type="hidden" type="number" id="HeightPx" name="HeightPx" value.bind="imageModel.heightPx" />
                <input type="hidden" type="number" id="WidthPx" name="WidthPx" value.bind="imageModel.widthPx" />

                <input type="hidden" type="number" id="PaddingTop" name="PaddingTop" value.bind="imageModel.paddingTop" />
                <input type="hidden" type="number" id="PaddingRight" name="PaddingRight" value.bind="imageModel.paddingRight" />
                <input type="hidden" type="number" id="PaddingBottom" name="PaddingBottom"
                    value.bind="imageModel.paddingBottom" />
                <input type="hidden" type="number" id="PaddingLeft" name="PaddingLeft" value.bind="imageModel.paddingLeft">

                <div class="form-group mt-2">
                    <button type="submit" class="btn btn-success mt-2" click.delegate="onSubmit()">Save</button>
                </div>
            </div>
        </div>
    </div>
    <loading-overlay if.bind="isLocalLoading" fixed="false" style="border-radius: 4px; overflow: hidden; height: 600px; background-color: #DDDDDD;"></loading-overlay>
</template>
