/* fonts */

@font-face {
    font-family: 'questrial';
    src: url('fonts/questrial-regular-webfont.woff2') format('woff2'), url('fonts/questrial-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('fonts/opensans-regular-webfont.woff2') format('woff2'), url('fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans';
    src: url('fonts/opensans-semibold-webfont.woff2') format('woff2'), url('fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

/* Shared */

body {
    font-family: open_sans, sans-serif;
}

/* Buttons */

.button-round {
    border: 1px solid #330000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: large;
    padding: unset;
}

.button-round:focus {
    outline: none;
}

.button-primary {
    background-color: #007bff;
}

.button-danger {
    background-color: #dc3545;
}

/* List */

.tlist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tlist-item {
    margin: 10px;
    display: flex;
    width: 600px;
}

.tlist-controls, .tlist-controls>* {
    margin-left: 6px;
}

.tlist-content {
    display: flex;
    width: 500px;
    border: 1px solid #330000;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.tlist-content>* {
    height: 100%;
    display: flex;
    align-items: center;
}

.tlist-content-name {
    justify-content: center;
    flex-grow: 1;
    border-right: 1px solid #330000;
    padding: 6px;
}

.tlist-content-name span, .tlist-content-name input {
    height: 30px !important;
    line-height: 30px !important;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.tlist-content-value {
    justify-content: center;
    width: 70px;
    font-weight: bold !important;
    padding: 6px;
}

.tlist-content-value>span {
    color: #000000AA
}

.tlist-content-value>span, .tlist-content-value input {
    height: 30px !important;
    line-height: 30px !important;
    font-weight: bold !important;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.tlist-content-value input, .tlist-content-name input {
    border: unset;
    /* border-bottom: 1px solid #330000; */
    background-color: #00000011;
    border-radius: 5px;
    overflow: hidden;
    -webkit-appearance: textfield !important;
    margin: 0;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.task-container {
    margin: 10px;
    display: flex;
    width: 700px;
    padding: 10px;
    align-items: center;
    position: relative;
    justify-content: center;
}

/* .task-body {
    position: relative;
} */

.task-content {
    width: 550px;
    padding: 10px;
    border: 1px solid #330000;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .task-name {} */

/* .task-deadline {} */

.task-headers {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.task-headers>* {
    border: 1px solid #330000;
    border-bottom: unset;
    border-radius: 10px 10px 0 0;
    padding: 3px 20px;
}

.selector {
    background: white;
    border: 1px solid #330000;
    border-radius: 5px;
    padding: 20px;
}

.selector-section {
    padding: 5px;
}

.selector-section-options {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
    min-width: 300px;
}

.selector-section-options>* {
    margin: 4px;
    box-shadow: 0 0 4px gray;
}

.buttons-with-margin>* {
    margin-left: 6px;
}

/* form validation */

.is-invalid::placeholder, select.is-invalid {
    color: #dc3545 !important;
    opacity: 1 !important;
    font-weight: bold;
}

select.is-invalid option {
    color: initial !important;
}

/* task */

.task-completed {
    background: #99FF6666;
}

.task-completed * {
    color: #346e16;
    font-weight: bold;
}

.task-archived {
    border: 6px double #330000;
}

.task-expired {
    background: #FF333366;
}

.task-expired * {
    color: #990000;
    font-weight: bold;
}

.task-section {
    margin-left: 10px;
    font-family: questrial, sans-serif;
}