<template>
    <require from="conventers/DateFormatConventer"></require>
    <h1 class="text-center">Messages</h1>
    <template repeat.for="room of rooms">
        <h4 style="position: relative; text-align: center;">
            <span style="position: absolute; left: 0;">
                <${room.chatMember.chatRoleValue}>
            </span>
            <span style="display: inline-block; max-width: 600px; overflow: hidden;">
                ${room.chatRoom.chatRoomTitle}
            </span>
            <span style="position: absolute; right: 0;">
                <a class="far fa-plus-square" route-href="route: messages-create; params.bind: { chatRoomId: room.id }"></a>
            </span>
        </h4>
        <table class="table">
            <tbody>
                <tr repeat.for="message of room.messages">
                    <td style="width: 10%">
                        ${message.userName}
                    </td>
                    <td style="width: 100%">
                        ${message.messageValue}
                    </td>
                    <td style="white-space: nowrap;">
                        ${message.messageDateTime | dateFormat}
                    </td>
                    <td>
                        <div class="d-flex justify-content-end">
                            <button class="btn btn-primary fa fa-edit index_controls mr-1"
                                click.delegate="onEdit(message)"></button>
                            <button class="btn btn-danger fa fa-trash index_controls     "
                                click.delegate="onDelete(message)"></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
    </template>
</template>
